
<ion-view class="purplebg" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-header-bar class="bar-header center">
     <!--    <button class="button button-icon HamBtn">
            <i class="icon ion-navicon"></i>
        </button> -->
       Bus Scheduler System
       <!--  <button class="button button-icon winbtn">
            Win Free Rent
        </button> -->
    </ion-header-bar>
    <ion-content class="has-header hascustomheader" >

        <div class="innerContent paddingLR">

          
            <!--    <div class="row buttonHolder">


                <div class=" col col-25">
                  <button id="login" class="button button-block button-small btnyellow " >LOGIN</button>
                </div>

            </div>
        </div> -->
         

            


    </ion-content>
    <!--  <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="arrowholder">
            <div class="swipe swipeRight swipeYellow right white marginB20"><label class="swipeTitle">Landing View</label> <label class="swipe">Swipe Right</label></div>
            <div class="swipe swipeLeft swipeYellow left white "><label class="swipeTitle">Enter Site</label> <label class="swipe">Swipe Left</label></div>
        </div>
    </ion-footer-bar> -->
</ion-view>