<ion-view class="greenbg" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <!-- <ion-header-bar class="bar-header">
              <button class="button button-icon" >
                  <i class="icon ion-navicon"></i>
              </button>
              <h1 class="title">BigliZt</h1>
              <button class="button button-icon">
                  Win Free Rent
              </button>
          </ion-header-bar> -->
    <!-- <ion-content class=""> -->
    <ion-header-bar class="bar-header center">
      <div>Bus Scheduler</div>

       <!--  <img ng-src="img/smallicon1.png" alt="logo biglitz" class="headerLogo" /> -->

    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>

            
        
  
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
       <div class="arrowHolderMain">

       <!--  <DIV CLASS="SWIPE SWIPERIGHT SWIPEYELLOW RIGHT WHITE MARGINB20">
                <LABEL CLASS="SWIPETITLE">SIGN UP</LABEL>
                <LABEL CLASS="SWIPE">SWIPE RIGHT</LABEL>
            </DIV> -->
            
                <div class="swipe swipeLeft swipeYellow left white marginB20 ">
                <label class="swipeTitle">Bus Schedules </label>
                <label class="swipe">Swipe Left</label>
            </div> 
    </ion-footer-bar>

</ion-view>

